ul.authors {
  list-style:none;
  padding:0;
}

.authors li {
  font-size:11px;
}

p.authors {
  margin:0 0 3px;
  font-weight:bold;
}

img.screenshot {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
}
